*{
    font-family: 'Montserrat',sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    box-sizing: border-box;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: #000;
    /* background-color: #121212; */
    width: 340px;
    margin-right: 0.5rem;

}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;   /*16px*/
    overflow: auto;

}

.music-player{
    background-color: yellow;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

a{
    text-decoration: none;
    color: #fff;
}

.nav{
    /* background-color: #121212; */
    border-radius: 1rem;   /*16px*/
    display: flex;
    flex-direction: column;
    background-color: #121212;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    line-height: 2.5rem;
    background-color: #121212;
    opacity: 0.7;
}

.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    background-color: #121212;
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    background-color: #121212;
    margin: 1rem;
}

.library{
    border-radius: 1rem;   /*16px*/
    background-color: #121212;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options{
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img{
    background-color: #121212;

     height: 1.25rem;
     width: 1.25rem;
}

.icons{
    background-color: #121212;
    display: flex;
}

.icons i{
    background-color: #121212;
    margin-right: 1rem;
    font-size: 1.25rem;
    opacity: 0.7;
}
.icons i:hover{
    opacity: 1;
}

.lib-box{
    background-color: #121212;
}

.box{
    background-color: #232323;
    height: 8rem;
    margin: 0.75rem 0;
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
}

.box-p1{
    background-color: #232323;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 550;
}

.box-p2{
    background-color: #232323;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge{
    background-color: #fff;
    padding: .25rem 1rem;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content  ;
    border: none;
    border-radius: 100px;
    font-weight: 600;
    color: black;
}