*{
    font-family: 'Montserrat',sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    box-sizing: border-box;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    /* background-color: #000; */
    background-color: yellow;
    width: 340px;

}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;   /*16px*/
    overflow: auto;

}

.music-player{
    background-color: yellow;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

a{
    text-decoration: none;
    color: #fff;
}

.nav{
    /* background-color: #121212; */
    border-radius: 1rem;   /*16px*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
}

.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    margin: 1rem;
}

.library{
    border-radius: 1rem;   /*16px*/
    /* background-color: #121212; */
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img{
     height: 1.25rem;
     width: 1.25rem;
}

.icons{
    display: flex;
}

.icons i{
    margin-right: 1rem;
    font-size: 1.25rem;
    opacity: 0.7;
}
.icons i:hover{
    opacity: 1;
}